.why-us-section {
    position: relative;
    z-index: 1;
    padding: 80px 0;
  }

  .feature-card {
    background: rgba(17, 198, 183, 0.479) !important;
    transition: all 0.4s ease;
    border: none;
    min-height: 240px;
  }
  
  .feature-card:hover {
    transform: translateY(-20px) !important;
    /*حرکتبیشتربهبالا*/box-shadow: 0 16px 32px rgba(20, 166, 157, 0.25) !important;

}
  
  .icon-circle {
    width: 60px;
    height: 60px;
    background-color: #2bbf48;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
    box-shadow: 0 0 10px rgba(5, 82, 63, 0.997) !important;
  }
  
  /* ریسپانسیو برای موبایل */
  @media (max-width: 576px) {
    .feature-card {
      margin-bottom: 24px;
    }
  }
  